In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
s = df['Name']  #In form of series

In [8]:
len(s)

891

In [9]:
# To fetch chunk of data
s=df['Name'][0:10]

In [10]:
s  #index is visible in series

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [11]:
type(s)

pandas.core.series.Series

In [12]:
# Hide Default index and show custom index
# Creating custom list with 10 items
l = ['a','b','c','d','e','f','g','h','i','j']
pd.Series(s,index=l)  #data is changed to NaN cuz series 's' already exists

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [16]:
# To prevent NaN data.
s1 = pd.Series(list(s),index=l)

In [17]:
s[0]

'Braund, Mr. Owen Harris'

In [23]:
print(s1['a'])
print(s1[0]) #python remembers internal index

Braund, Mr. Owen Harris
Braund, Mr. Owen Harris

In [27]:
# s1.append("Suharsh")
# >>TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid
s2 = s1.append(s)

/tmp/ipykernel_98/110189754.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [28]:
s2[0]  #considers default index

'Braund, Mr. Owen Harris'

In [31]:
s4 = pd.Series([3,4,5,6,6], index = [2,4,5,6,1])

In [35]:
s5 = pd.Series([34,45,32,12,543], index=[9,8,4,3,1])

In [36]:
s6 = s4.append(s5)

/tmp/ipykernel_98/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [41]:
# Returns all data present at visible indexes for custom indexes
s6[4]

4     4
4    32
dtype: int64

In [42]:
s6[0:5]  #in case of slicing it's taking default indexes

/tmp/ipykernel_98/982890901.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]  #in case of slicing it's taking default indexes

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [43]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [44]:
s5

9     34
8     45
4     32
3     12
1    543
dtype: int64

In [46]:
# multiplying 2 series >> It checks for matching indexes -> if true
# >> It'll perform operation; else returns NaN
s4*s5

1    3258.0
2       NaN
3       NaN
4     128.0
5       NaN
6       NaN
8       NaN
9       NaN
dtype: float64

In [48]:
# Same for addition operation
s4+s5

1    549.0
2      NaN
3      NaN
4     36.0
5      NaN
6      NaN
8      NaN
9      NaN
dtype: float64