In [ ]:
Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following:
> Prompt the user to enter the file path of the CSV file containing the student dataR
> Read the CSV file into a Pandas DataFrameR
> Calculate the mean, median, and mode of the test scores using Pandas toolsR
> Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
> Student ID: The ID of the studentR
> Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [26]:
# Sol 1:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# Ans 2:
'''
The main differences between the loc and iloc functions in pandas DataFrame are:

1. Indexing method: loc uses label-based indexing,
              while iloc uses positional indexing.

2. Index type: loc selects rows and columns based on their index labels,
         while iloc selects rows and columns based on their integer position in the DataFrame.

3. Inclusivity: loc includes the end value in the slice, 
          while iloc does not include the end value in the slice.

4. Slicing syntax: loc uses square brackets and label-based slicing syntax, 
             while iloc uses square brackets and integer-based slicing syntax.

5. Handling of single labels: loc returns a single row or column as a Series object,
                        while iloc returns a single row or column as a DataFrame object.

'''

In [16]:
# Sol 3:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [20]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [24]:
new_df.loc[2] , new_df.iloc[2]

(course_name    Big Data
 duration              6
 Name: 2, dtype: object,
 course_name    Machine Learning
 duration                      3
 Name: 1, dtype: object)

In [ ]:
# Since the DataFrame new_df has been reindexed:
# new_df.loc[2] selects the row with index label 2, which is now the row containing the data for the course 'Machine Learning'.
            # Therefore, the output will be a Series object containing the values for that row, with the column names as the index labels. 

# new_df.iloc[2] selects the row with integer position 2, which is the row containing the data for the course 'Data Science' after reindexing. 
#               Therefore, the output will also be a Series object containing the values for that row, with the column names as the index labels.

In [27]:
# For Q4 and Q5.:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.959610  0.412793  0.946243  0.110489  0.081760  0.886257
2  0.319198  0.081841  0.692519  0.119129  0.473319  0.454718
3  0.536800  0.950312  0.364758  0.857754  0.351959  0.914309
4  0.058815  0.656995  0.610102  0.588462  0.136061  0.582758
5  0.938700  0.686229  0.412461  0.048057  0.467966  0.338101
6  0.866226  0.831424  0.479053  0.825015  0.374928  0.581954

In [35]:
# Sol 4:
# i> mean of each and every column present in the dataframe.
df1.mean()

column_1    0.613225
column_2    0.603266
column_3    0.584189
column_4    0.424818
column_5    0.314332
column_6    0.626350
dtype: float64

In [33]:
# ii> standard deviation of column, ‘column_2’
df1['column_2'].std()

0.31318716403944646

In [41]:
# Sol 5:
# Replace the data present in the second row of column, ‘column_2’ by a string variable
df1['column_2'].loc[2] = "Suharsh"

In [44]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.959610  0.412793  0.946243  0.110489  0.081760  0.886257
2  0.319198   Suharsh  0.692519  0.119129  0.473319  0.454718
3  0.536800  0.950312  0.364758  0.857754  0.351959  0.914309
4  0.058815  0.656995  0.610102  0.588462  0.136061  0.582758
5  0.938700  0.686229  0.412461  0.048057  0.467966  0.338101
6  0.866226  0.831424  0.479053  0.825015  0.374928  0.581954

In [45]:
# After replacement -> mean of column, column_2.
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [46]:
# Since we can clearly see the error message 'TypeError': unsupported operand type(s) for +: 'float' and 'str'

# float type and string type data cannot be added.

In [ ]:
# Sol 6:
'''
Window functions in pandas : It allows us to perform calculations on a specific subset of a DataFrame.
                             It is defined by a sliding or fixed window of rows.

# There are three main types of window functions in pandas: 
>> rolling window functions;
>> expanding window functions; 
>> exponential weighted window functions.

1. Rolling window functions: It defines a fixed window of rows and slide it across the DataFrame.
                             It is useful for calculating moving averages and rolling sums.

2. Expanding window functions: It includes all rows up to and including the current row.
                               It is useful for calculating cumulative sums and means.

3. Exponential weighted window functions: It calculates an exponentially weighted statistic over a sliding or expanding window.
                                          It is useful for modeling time series data with trends and seasonality.

Overall, window functions provide a powerful way to analyze and transform data over time, and are particularly useful for time series data.

'''

In [65]:
# Sol 7:
import pandas as pd

# get the current date and time
current_time = pd.Timestamp.now()

# extracting the month and year :
current_month = pd.to_datetime(current_time).month_name()
current_year = pd.to_datetime(current_time).year

# print the current month and year
print(f"Current month and year: {current_month} {current_year}")

Current month and year: March 2023

In [104]:
#Sol 8:
# initialize an empty list to store the two dates entered by the user
dt = []

# prompt the user to enter the two dates and append them to the list
for i in range(2):
    dt.append(input("Enter date in YYYY-MM-DD format:"))

# convert the two dates to pandas datetime objects
date_1 = pd.to_datetime(dt[0])
date_2 = pd.to_datetime(dt[1])

# calculate the time difference between the two dates using pd.Timedelta()
time_diff = pd.Timedelta(date_2 - date_1)

# print the time difference in days, hours, and minutes using string formatting
print(f"The time difference between both dates {time_diff.days} days {time_diff.components.hours} hours {time_diff.components.minutes} minutes")

Enter date in YYYY-MM-DD format: 2023-03-15
Enter date in YYYY-MM-DD format: 2023-03-19

The time difference between both dates 4 days 0 hours 0 minutes

In [105]:
# Sol 9:
# Prompt user for file path
file_path = input("Enter the file path of the CSV file containing the categorical data: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Prompt user for column name and category order
col_name = input("Enter the name of the column to convert to categorical data: ")
cat_order = input("Enter the category order, separated by commas: ").split(",")

# Convert specified column to categorical data type
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# Sort data by the specified column
sorted_df = df.sort_values(by=[col_name])

# Display sorted data
print(sorted_df)

In [ ]:
# Sol 10:
import pandas as pd

# prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# convert the 'date' column to a datetime data type
df['date'] = pd.to_datetime(df['date'])

# group the sales data by product category and date
grouped_data = df.groupby(['product_category', 'date']).sum().reset_index()

# pivot the data to create a stacked bar chart
pivot_data = grouped_data.pivot(index='date', columns='product_category', values='sales')

# plot the stacked bar chart
pivot_data.plot(kind='bar', stacked=True, figsize=(10, 6))

# set the title and labels for the chart
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

# show the chart
plt.show()

In [108]:
# Sol 11: Creating CSV file student_data.csv contains the following data:
import io
import csv

# define the data
data = [
    ['Student ID', 'Test Score'],
    [1, 85],
    [2, 90],
    [3, 80],
    [4, 75],
    [5, 85],
    [6, 82],
    [7, 78],
    [8, 85],
    [9, 90],
    [10, 85]
]

# open a file for writing
with open('student_data.csv', 'w', newline='') as file:
    # create a CSV writer object
    writer = csv.writer(file)
    
    # write the data to the file
    for row in data: 
        writer.writerow(row)

In [136]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter full file path with extension:")  #student_data.csv

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of test scores
Mean = df['Test Score'].mean()
Median = df['Test Score'].median()
Mode = df['Test Score'].mode()[0]

# Create table to display results
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [Mean, Median, Mode]
})

# Display table
print(results)

Enter full file path with extension: student_data.csv

  Statistic  Value
0      Mean   83.5
1    Median   85.0
2      Mode   85.0